<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sdf</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <%- include("../components/header") %>
    <%- include("../components/navbar") %>
    <div class="container">
        <%- body %>
    </div>
</body>

</html>